.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons {
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
  margin: 2vw;
}

.pics {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

